%form
  %fieldset
    %legend.rps-normal-text
      = t('instruction', scope: 'rock_paper_scissors.form.legend')
      %h2.rps-heading.black= t('cta', scope: 'rock_paper_scissors.form.legend')
    .rsc-btn-box
      = throw_link('rock')
      = throw_link('paper')
      = throw_link('scissors')